body {
    background: #16bd2f;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#pong {
    background: #222;
    display: block;
    margin: 0 auto;
    border: 4px solid #444;
    box-shadow: 0 0 20px #0006;
}

#score {
    margin-top: 24px;
}

#controls {
    margin-top: 24px;
}

