body {
    background: #16bd2f;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1 { 
    align-items: center;
    font-size: 24px;
    margin-bottom: 24px;
}
#pong {
    background: #38fc02;
    display: block;
    margin: 0 auto;
    border: 4px solid #444;
    box-shadow: 0 0 20px #0006;
}

#score {
    margin-top: 24px;
}

#controls {
    margin-top: 24px;
}

#highscore {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}

